:root {
    --theme-primary: oklch(0.7 0.1776 51.88);
    --theme-primary-light: oklch(from var(--theme-primary) 0.9 0.06 h);
    --theme-primary-dark: oklch(from var(--theme-primary) 0.5 c h);
    --theme-text-color-bold: oklch(0 0 0 / 1);
    --theme-text-color: oklch(0 0 0 / 0.85);
    --theme-text-color-light: oklch(0 0 0 / 0.7);
    --theme-border-radius: 6px;
    --theme-border-color: oklch(0 0 0 / 0.5);
    --theme-text-margin: 0.75rem;
    --theme-header-margin: 0.4rem;
    --theme-list-margin: 0.25rem;
    --theme-page-padding: 1rem;
    --theme-font: "Archivo", sans-serif;
    font-family: var(--theme-font);
    max-width: 100%;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    transition: color 200ms;
}
body {
    margin: 0;
}
.page__layout {
    padding: 0;
}
.page__header {
    background-color: var(--theme-primary);
    position: sticky;
    top: 0;
}
.page__header__list {
    margin: 0;
    padding: 8px;
    display: flex;
    gap: 1rem;
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    .page__header__logo {
        font-size: 2rem;
    }
    a {
        color: var(--theme-text-color-bold);
        &:hover {
            color: var(--theme-primary-dark);
        }
    }
    img {
        height: 2rem;
        width: auto;
    }
    li {
        height: max-content;
        font-size: 1.5rem;
        font-weight: 600;
        display: block;
    }
}
.page__main {
    max-width: 800px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--theme-primary-light);
    border-bottom-left-radius: var(--theme-border-radius);
    border-bottom-right-radius: var(--theme-border-radius);
    &.wide__page {
        max-width: 1200px;
    }
}
.page__content {
    padding-left: var(--theme-page-padding);
    padding-right: var(--theme-page-padding);
    padding-top: var(--theme-page-padding);
    padding-bottom: var(--theme-page-padding);
    box-sizing: border-box;
    margin-bottom: 20px;
    h1, h2, h3, h4, h5, h6 {
        border-bottom-color: var(--theme-border-color);
        border-bottom-width: 1px;
        border-bottom-style: solid;
        font-family: var(--theme-font);
        font-weight: 800;
        padding-bottom: 2px;
        margin-top: 0;
        margin-bottom: var(--theme-header-margin);
    }
    a {
        color: var(--theme-primary);
        &:hover {
            color: var(--theme-primary-dark);
        }
    }
    p {
        color: var(--theme-text-color);
        margin-top: 0;
        margin-bottom: var(--theme-text-margin);
        font-family: var(--theme-font);
        line-height: 1.3em;
    }
    li {
        color: var(--theme-text-color);
        margin-top: var(--theme-list-margin);
        margin-bottom: var(--theme-list-margin);
        font-family: var(--theme-font);
        line-height: 1.3em;
        img {
            vertical-align: top;
        }
    }
    img {
        max-width: 100%;
    }
}
.content__signature {
    /* As bad of a practice it is, color doesn't seem get overrided without !important */
    color: var(--theme-text-color-light) !important; 
    padding-left: 2em;
    font-style: italic;
}
.content__quote {
    padding-left: 2em;
    font-style: italic;
}
.music__tierlist__columns {
    display: grid;
    grid-template-columns: auto minmax(300px, 25%);

    .music__tierlist__left {
        padding-right: 1em;
    }
    .music__tierlist__right {
        padding-left: 1em;
        border-left: solid thin var(--theme-border-color);
    }
}