:root {
    --theme-primary: oklch(0.7 0.1776 51.88);
    --theme-primary-light: oklch(from var(--theme-primary) 0.9 0.06 h);
    --theme-primary-dark: oklch(from var(--theme-primary) 0.5 c h);
    --theme-text-color-bold: oklch(0 0 0 / 1);
    --theme-text-color: oklch(0 0 0 / 0.85);
    --theme-text-color-light: oklch(0 0 0 / 0.7);
    --theme-border-radius: 6px;
    --theme-text-margin: 10px;
    font-family: "Archivo", sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    transition: color 200ms;
}
html, body {
    padding: 0;
    margin: 0;
}
.page__layout {
    padding: 0;
}
.page__header {
    background-color: var(--theme-primary);
    position: sticky;
    top: 0;
}
.page__header__list {
    margin: 0;
    padding: 8px;
    display: flex;
    gap: 1rem;
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    .page__header__logo {
        font-size: 2rem;
    }
    a {
        color: var(--theme-text-color-bold);
        &:hover {
            color: var(--theme-primary-dark);
        }
    }
    img {
        height: 2rem;
        width: auto;
    }
    li {
        height: max-content;
        font-size: 1.5rem;
        font-weight: 600;
        display: block;
    }
}
.page__main {
    max-width: 800px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--theme-primary-light);
    border-bottom-left-radius: var(--theme-border-radius);
    border-bottom-right-radius: var(--theme-border-radius);
    &.wide__page {
        max-width: 1200px;
    }
}
.page__content {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: var(--theme-text-margin);
    padding-bottom: var(--theme-text-margin);
    margin-bottom: 20px;
    h1, h2, h3 {
        border-bottom-color: oklch(0 0 0 / 0.5);
        border-bottom-width: 1px;
        border-bottom-style: solid;
        font-family: "Archivo";
        font-weight: 800;
        padding-bottom: 2px;
        margin-top: var(--theme-text-margin);
        margin-bottom: var(--theme-text-margin);
    }
    a {
        color: var(--theme-primary);
        &:hover {
            color: var(--theme-primary-dark);
        }
    }
    p {
        color: var(--theme-text-color);
        margin-top: var(--theme-text-margin);
        margin-bottom: var(--theme-text-margin);
        font-family: "Archivo";
        line-height: 1.3em;
    }
    img {
        max-width: 100%;
    }
}
.content__signature {
    color: var(--theme-text-color-light);
    padding-left: 2em;
    font-style: italic;
}